body{
    margin: 0px;
    padding: 0px;
}

/*======================================== navigation bar - initial ===================================================*/

img{
    opacity: .1;
    position: relative;
    left: 60%;
}

/*=========================== Introduction section ======================*/


/*==============================
    PDF format
.   =============================*/

#cv{
    width: 100%;
    height: 2400px;
}